.main{
  margin: 1rem;
}
.daySelection{
  width: calc(100% - 1rem);
  margin: 0 .5rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: .5rem;
  border: 3px solid rgb(5, 119, 109);
  background-color: rgb(38, 101, 73);
  outline: none;
}